.adm-nav-bar {
    background-color: #7bed9f;
}

.searcher {
    .search-button {
        width: 100%;
        margin-top: 5rem;
        .adm-input {
            border: 0.1rem solid #f1f2f6;
            padding: 0.2rem 1rem;
        }
        .adm-button {
            border: unset;
        }
    }
    .random-questions {
        margin: 0 auto;
        margin-top: 5rem;
        width: 80%;
        padding: 1rem;
        box-shadow: 2px 2px 5px #000;
        .adm-list-inner {
            max-height: 20rem;
            overflow: scroll;
        }
    }
    .adm-loading {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10rem;
    }
}